<article class="science-card card" data-card-type="science">
  {%- if eyebrow != blank -%}<p class="card__eyebrow">{{ eyebrow }}</p>{%- endif -%}
  {%- if title != blank -%}<h3 class="science-card__title h5">{{ title }}</h3>{%- endif -%}
  {%- if body != blank -%}<div class="card__text rte">{{ body }}</div>{%- endif -%}
  {%- if citation != blank -%}<p class="science-card__citation">{{ citation }}</p>{%- endif -%}
</article>
