<section class="section-spacing">
  <div class="container">
    <h1>{{ 'templates.list_collections.title' | t }}</h1>
    <div class="grid grid--3">
      {%- for collection in collections -%}
        <article class="card">
          {%- if collection.featured_image != blank -%}
            <a class="media media--wide" href="{{ collection.url }}">
              {% render 'responsive-image', image: collection.featured_image, loading: 'lazy', sizes: '(min-width: 990px) 33vw, 100vw' %}
            </a>
          {%- endif -%}
          <h2 class="h5"><a href="{{ collection.url }}">{{ collection.title }}</a></h2>
        </article>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main list collections",
  "settings": []
}
{% endschema %}
