<section class="section-spacing">
  <div class="container--narrow text-center">
    <h1>{{ shop.name }}</h1>
    {%- form 'storefront_password' -%}
      {{ form.errors | default_errors }}
      <div class="field mb-4">
        <label class="field__label" for="Password">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <input class="input" id="Password" type="password" name="password" autocomplete="current-password">
      </div>
      <button class="button" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Main password",
  "settings": []
}
{% endschema %}
