<article class="section-spacing">
  <div class="container--narrow">
    <p class="caption">{{ article.published_at | time_tag: format: 'date' }}</p>
    <h1>{{ article.title }}</h1>
    {%- if article.image != blank -%}
      <div class="media media--wide mb-6">
        {% render 'responsive-image', image: article.image, loading: 'eager', sizes: '(min-width: 990px) 760px, 100vw' %}
      </div>
    {%- endif -%}
    <div class="rte">{{ article.content }}</div>
  </div>
</article>

{% schema %}
{
  "name": "Main article",
  "settings": []
}
{% endschema %}
