<section class="section-spacing">
  <div class="container--narrow text-center">
    <p class="caption">{{ 'templates.404.subtext' | t }}</p>
    <h1>{{ 'templates.404.title' | t }}</h1>
    <a class="button" href="{{ routes.root_url }}">{{ 'general.continue_shopping' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "Main 404",
  "settings": []
}
{% endschema %}
